<beans:beans xmlns="http://www.springframework.org/schema/security"  
    xmlns:beans="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/security  
    http://www.springframework.org/schema/security/spring-security.xsd">  
    
    <http auto-config="true">  
        <intercept-url pattern="/employee" access="hasRole('ROLE_USER')" />  
        <intercept-url pattern="/employeeList" access="hasRole('ROLE_USER')" />
        <intercept-url pattern="/api/employee" access="hasRole('ROLE_USER')" />  
        <intercept-url pattern="/api/employees" access="hasRole('ROLE_USER')" />
        <intercept-url pattern="/api/update_employee" access="hasRole('ROLE_USER')" />  
        <intercept-url pattern="/api/add_employee" access="hasRole('ROLE_USER')" />  
        <intercept-url pattern="/api/delete_employee" access="hasRole('ROLE_USER')" />  
    </http>  
    <authentication-manager>  
      <authentication-provider>  
        <password-encoder ref="encoder" />
        <user-service>  
        	<user name="user" password="$2a$10$gQxL5Z0XALoVXZ2nnk5KZu4DiZjR.L7bSUK6t/8BzpomBCvaNfa4O" authorities="ROLE_USER" />  
        </user-service>  
      </authentication-provider>  
    </authentication-manager>    
	
	<beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<beans:constructor-arg name="strength" value="10" />
	</beans:bean>
</beans:beans>  